In [1]:
import numpy as np
import pandas as pd
score = np.random.randint(50,101,size=(50,5))
score_pd = pd.DataFrame(score,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
score_pd

     國文   英文  數學  地理  歷史
1    68   93  83  88  74
2    88   83  56  60  96
3   100   61  90  78  62
4    88   64  72  87  80
5    97   87  83  87  77
6    90  100  62  76  81
7    50   56  93  81  71
8    93   54  68  77  86
9    90   55  56  56  55
10   51   92  72  58  70
11   51   52  95  52  67
12   71   98  56  62  75
13   60   60  81  82  73
14   76   59  97  61  66
15   82   96  81  74  72
16   79   83  76  87  62
17   61   96  92  67  51
18   70   82  76  74  97
19   78   55  54  59  81
20   69   99  79  80  66
21   75   88  70  82  61
22   61   66  74  68  82
23   65   89  56  74  94
24   92   83  93  79  84
25   61   70  54  85  58
26   60   76  78  71  61
27   88   63  74  52  94
28   73   74  63  76  58
29   93   53  62  92  72
30   98   83  75  93  79
31   52   90  90  70  61
32   60   95  61  75  79
33   78   91  68  73  76
34   92   80  81  83  57
35   99   82  79  75  78
36   77   64  71  90  69
37   95   70  81  80  55
38  100   99  76  59  70
39   74   96  74  93  85
40   84   95  70  61  92
41   85   58  53  92  96
42   87   74  66  80  88
43   89   76  90  77  59
44   81   64  89  63  93
45   70   60  93  50  77
46   59   82  68  98  63
47   91   87  50  70  72
48   93   70  98  51  59
49   88   90  60  97  51
50   76   91  84  92  73

In [6]:
def callback1(value:pd.Series):
    return pd.Series([value.max(),value.min(),value.median(),value.mean()],index=['最高分','最低分','中間值','平均值'])

dataFrame1 = score_pd.apply(callback1)
dataFrame1

         國文      英文     數學     地理     歷史
最高分  100.00  100.00  98.00  98.00  97.00
最低分   50.00   52.00  50.00  50.00  51.00
中間值   78.50   82.00  74.50  76.00  72.50
平均值   78.16   77.68  74.46  74.94  73.16