In [2]:
import pandas as pd

series1 = pd.Series([4.5,7.2,-5.3,3.6], index=['d','b','a','c'])
series1

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [3]:
series1['d']
#使用subscript[slice]
series1['d':'a']

d    4.5
b    7.2
a   -5.3
dtype: float64

In [7]:
display(series1)
#重新排列,用實體方法reindex()
series1.reindex(['a','b','c','d'])
#選取想要的索引
series1.reindex(['a','b'])
#取出ndArray- 沒有索引沒有欄位
series1.values
#轉換成list
series1.to_list()

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

[4.5, 7.2, -5.3, 3.6]

In [14]:
import numpy as np
import pandas as pd

pd.DataFrame(np.arange(9).reshape(3,3),
                index = ['a','c','d'],
                columns = ['台北','台中','高雄'])

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8