In [2]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
    index=[['a','a','a','b','b','c','c','d','d'],
          [1,2,3,1,2,3,1,2,3]])  
data

a  1    0.405195
   2    2.191503
   3    0.698320
b  1   -0.953915
   2   -0.899783
c  3   -0.393442
   1   -1.397246
d  2    0.896671
   3   -0.586847
dtype: float64

In [3]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [4]:
data['a']

1    0.405195
2    2.191503
3    0.698320
dtype: float64

In [5]:
#2維表格資料
data.unstack()

          1         2         3
a  0.405195  2.191503  0.698320
b -0.953915 -0.899783       NaN
c -1.397246       NaN -0.393442
d       NaN  0.896671 -0.586847

In [6]:
data.index.names = ['分類','數值']
data

分類  數值
a   1     0.405195
    2     2.191503
    3     0.698320
b   1    -0.953915
    2    -0.899783
c   3    -0.393442
    1    -1.397246
d   2     0.896671
    3    -0.586847
dtype: float64

In [7]:
data.unstack(level='分類')

分類         a         b         c         d
數值
1   0.405195 -0.953915 -1.397246       NaN
2   2.191503 -0.899783       NaN  0.896671
3   0.698320       NaN -0.393442 -0.586847